* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #050a53;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container form{
    background: #fff;
    min-width: fit-content;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.container form div {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    min-width: 332px;
}

.container form div p {
    font-size: 16px;
    text-align: left;
    flex-grow: 1;
    
}

.container form div input, textarea {
    width: 200px;
    border: 0;
    border-bottom: 1px solid #050a53;
}

.container form div textarea {
    min-height: 100px;
    max-width: 200px;
    min-width: 200px;
}

.container form div#exclude{
    background: #fff;
    min-width: 40px;
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 2px #050a53;
}

.icon svg {
    width: 20px;
    height: 20px;
}

#Submit {
    border: 0;
    width: fit-content;
    padding: 8px 32px;
    color: #fff;
    background: #050a53;
    border-radius: 20px;
    cursor: pointer;
}