* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #1d5a7e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up {
    display: none;
    top: 50%;
    flex-direction: column;
    position: absolute;
    background: #fff;
    padding: 20px 30px;
    height: auto;
    text-align: center;
    width: fit-content;
    align-items: center;
}

.pop-up img {
    position: absolute;
    top: -20%;
    height: 80px;
}

.pop-up h1 {
    margin-top: 20px;
}

.pop-up p {
    width: 80%;
    text-align: center;
    margin: 0 0 12px 0;
}

.pop-up button {
    color: #fff;
    font-size: 16px;
    background: #14a739;
    border: none;
    padding: 8px 20px;
    width: 100%;
}

.submit {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 16px;
    border: none;
    border-radius: 0 20%;
    cursor: pointer;
    font-size: 16px;
}