* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(files/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.container h2 {
    font-weight: 400;
    font-size: 36px;
    color: #fff;
}

.container h1 {
    font-size: 48px;
    max-width: 550px;
    color: #fff;
}

.container p {
    color: #fff;
}

.container form {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 16px;
}
.container input {
    border: 0;
    padding: 0px 20px;
    height: 100%;
    min-width: 250px;
    border-radius: 12px 0 0 12px;
}

.container button {
    height: 100%;
    border: 0;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #30850e;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}

.container span {
    display: none;
    color: #61b752;
    font-size: 12px;
}