* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: url(files/A\ man\ with\ a\ beard\ holding\ up\ a\ blank\ board\ in\ front\ of\ a\ building_1.png);
}